Package: demon-editor
Version: 1.0.7-Beta
Section: utils
Priority: optional
Architecture: all
Essential: no
Depends: python3 (>= 3.5),
         python3-requests,
         python3-gi,
         python3-gi-cairo
Recommends: libmpv1, python3-chardet
Maintainer: Dmitriy Yefremov <dmitry.v.yefremov@gmail.com>
Description: Enigma2 channel and satellite list editor