* {
  -GtkDialog-action-area-border: 5em;
}

entry {
  min-height: 2em;
}

button {
  min-height: 1.5em;
  padding: 0.1em;
}

spinbutton {
  min-height: 1.5em;
}

toolbutton {
  padding: 0.1em;
}

spinner {
  padding-left: 1em;
  padding-right: 1em;
}

infobar {
  min-height: 2em;
}

switch slider {
  min-height: 1.5em;
  min-width: 1.5em;
}

paned > separator {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1px 24px;
}
