* {
  background-clip: padding-box;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 20;
  -GtkDialog-button-spacing: 12;
  -GtkDialog-action-area-border: 6;
}

entry {
  min-height: 2.0em;
  padding: 0.2em;
}

entry > image {
  padding-left: 0.4em;
}

button {
  min-height: 1.5em;
  min-width: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

button:active, button:checked {
  color: @theme_selected_fg_color;
  background-image: linear-gradient(@theme_selected_bg_color, @theme_selected_bg_color);
}

combobox {
  min-height: 2.2em;
}

spinbutton {
  min-height: 1.5em;
}

toolbutton {
  padding: 0.1em;
}

spinner {
  padding-left: 1em;
  padding-right: 1em;
}

infobar {
  min-height: 2em;
}

revealer > box > button {
  padding: 0.2em;
}

switch slider {
  min-height: 1.5em;
  min-width: 1.5em;
}

popover .view {
  background-color: transparent;
}

.font > box {
  min-height: 1.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.dialog-action-area button {
  margin-bottom: 0.6em;
}
