#digit-entry {
  border-color: Red;
}

#status-bar-button {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 1px;
}

paned > separator {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 24px;
}

.red-button {
  background-image: none;
  background-color: red;
}

.green-button {
  background-image: none;
  background-color: green;
}

.yellow-button {
  background-image: none;
  background-color: yellow;
}

.blue-button {
  background-image: none;
  background-color: blue;
}

.time-entry {
  padding: 0px;
  margin: 0px;
}

.group {}

.group :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.group :not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 1px;
}