#digit-entry {
  border-color: Red;
  border-width: 0.15em;
}

#status-bar-button {
  margin: 0.1em;
}

#textview-large {
  font-size: 14px;
}

.group {}

.group :first-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.group :not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
}