#digit-entry {
  border-color: Red;
  border-width: 0.15em;
}

#status-bar-button {
  margin: 0.1em;
}

.red-button {
  background-image: none;
  background-color: red;
}

.green-button {
  background-image: none;
  background-color: green;
}

.yellow-button {
  background-image: none;
  background-color: yellow;
}

.blue-button {
  background-image: none;
  background-color: blue;
}

#textview-large {
  font-size: 14px;
}

.time-entry {
  padding: 0px;
  margin: 0px;
}

.arrow-button {
  padding: 0px;
  margin: 1px;
  min-width: 12px;
  min-height: 12px;
}

.group {}

.group :first-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.group :not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 1px;
}

.stack-switcher > button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 5em;
  min-height: 1.5em;
}
