* {
  -GtkDialog-action-area-border: 12;
}

switch {
  margin-right: 2px;
}

spinbutton entry {
  min-height: 16px;
}

button > image {
  padding: 2px;
}

grid > button {
  padding-left: 15px;
  padding-right: 15px;
}

popover .view {
  background-color: transparent;
}

headerbar .titlebutton {
  padding: 5px 10px;
}
